body > .container-fluid {
	padding-top: 60px;
}

#videos,
.piece-info,
#audios,
#audios .card,
#message-pi {
	display: none;
}

#sport-image {
	visibility: hidden;
}

#videos {
	margin: 20px 0;
}

#sports li {
	margin: 10px 0;
}

#show-videos, #show-audios, #pi-container, .card {
	margin: 20px;
}

audio {
	width: 100%;
}

video {
	height: 200px;
	width: 100%;
}

#pi-goal {
	font-size: 200%;
	color: white;
	border-radius: 7px;
	padding: 10px;
	position: absolute;
	display: inline;
}

#pi-container {
	text-align: center;
	position: relative;
}

#otros {
	padding-bottom: 60px;
}

#contacto {
	margin-bottom: 50px;
}

.fa {
	font-size: 2rem;
}